<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page_title }} - {{ shop.name }}</title>

  {{ content_for_header }}


  {{ "normalize.css" | asset_url | stylesheet_tag }}
  {{ "style.css" | asset_url | stylesheet_tag }}
  {{ 'styles.scss' | asset_url | stylesheet_tag }}
  <script src="https://use.fontawesome.com/dd99ff6d97.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:300' rel='stylesheet' type='text/css'>
{% comment %}  <link rel="stylesheet" type="text/css" href="http://localhost:8000/styleguide/assets/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="http://localhost:8000/styleguide/assets/styles/styleguide.css">{% endcomment %}



  {{ "option_selection.js" | shopify_asset_url | script_tag }}
  {{ "shopify_common.js" | shopify_asset_url | script_tag }}
  {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js' | script_tag }}
  {{ 'jquery.colorbox-min.js' | asset_url | script_tag }}
  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% include 'ajax-cart-template' %}
  {{ 'ajax-cart.js' | asset_url | script_tag }}

  <script type="text/javascript">

    var cartCount = {{ cart.item_count }};

    $(document).ready(function(){   
        {% if cart.item_count != 0 %}  
           // $('#cart-number').replaceWith("<a id='cart-number' href='/cart'><i class='fa fa-shopping-cart' aria-hidden='true'></i> <span class='cart-items'>" + cartCount + "</span></a>");
        {% endif %}

        $('body').on('click', '#close', function(){
          var overlay = $('.modal--overlay')
          closeModal(overlay)
        })
        $('.modal--overlay').on('click', function(){
          var overlay = $('.modal--overlay')
          closeModal(overlay)
        })
      });

    // function addItem(form_id) {
    //     $.ajax({
    //       type: 'POST',                             
    //       url: '/cart/add.js',
    //       dataType: 'json',                               
    //       data: $('#'+form_id).serialize(),            
    //       success: addToCartOk,                        
    //       error: addToCartFail                            
    //     });
    //   }



     

      //Modal Actions
      //center modal so that it is not off pixel
      function centerModal(){
        var modal = $('.modal.open');
        var mWidth = modal.outerWidth()
        var mHeight = modal.outerHeight();
        var width = $(window).width();
        var height = $(window).height();
        if((width % 1) != 0){
          width = Math.round(width)
        }
        if((height % 1) != 0){
          height = Math.round(height)
        }
        var topPos = (height / 2) - (mHeight / 2);
        var leftPos = (width / 2) - (mWidth / 2);
        modal.css({top: topPos, left:leftPos})

      }

      //open modal and overlay
      function openModal(){
        $('.modal').removeClass('hidden').addClass('open');
        $('.modal--overlay').removeClass('hidden').addClass('open');
        $('body').css('overflow', 'hidden');
        centerModal();
      }

      //close modal and overlay
      function closeModal(overlay){
        $(overlay).addClass('hidden').removeClass('open');
        $('.modal.open').addClass('hidden').removeClass('open');
        $('body').css('overflow', 'auto');
      }

 
  </script>
</head>
<body>
{% comment %}<div class="header-toolbar">
    <div class="container container--flex clearfix">
      
    </div>
  </div>{% endcomment %}
  <div class="drawer js-drawer-close-right closed" id="cart-drawer">
    <div class="cart-title">
      <h2>Cart</h2>
      <span id="close_cart">×</span>
    </div>
    <div class="cart__drawer" id="cart-container"></div>
  </div>
  <div class="content-container">
    
    <header class="container container--flex">
      <h1 class="logo"><a href="{{shop.url}}">Runningdive <span>Shop</span></a></h1>
      <nav class="main-menu">
         <ul>
         {% for link in linklists.main-menu.links %}
          <li {% if link.active %}class="current"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
         {% endfor %}
         <li class="cart-info closed" id="cart_open"><a id="cart-number" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span class="cart-items" id="cart_count">{{ cart.item_count }}</span></a></li>
         </ul>
        </nav>
    </header>
    <div class="container">
      <div class="content">
        {{ content_for_layout}}
      </div>
    </div>
    <footer >
      <div class="container container--flex">
        <ul class="social-links">
          <li><a href="#" target="_blank"><i class="fa fa-twitter"></i><span>twitter</span></a></li><!--
          *--><li><a href="#" target="_blank"><i class="fa fa-facebook"></i><span>facebook</span></a></li><!--
          *--><li><a href="#" target="_blank"><i class="fa fa-instagram"></i><span>instagram</span></a></li>
        </ul>
        <ul>
          {% for link in linklists.footer.links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <p>Running Dive is based out of Toronto, Ontario. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo nihil perferendis numquam, vel veniam eius.</p>
      </div>
     </footer>
  </div>
   <script>
     //openeing and closing the cart sidebar 
     

     jQuery(function($){
        // function openCart(){
        //  $('#cart-drawer').removeClass('js-drawer-close-right').addClass('js-drawer-open-right').addClass('active');
        //  $('#content-slide').removeClass('content--slide-left--closed').addClass('content--slide-left--open');
        // };
        // function closeCart(){
        //  $('#cart-drawer').removeClass('js-drawer-open-right').addClass('js-drawer-close-right').removeClass('active');
        //  $('#content-slide').removeClass('content--slide-left--open').addClass('content--slide-left--closed');
        // };
        //     $('#cart_open, #cart_open_mobile').on('click', function(e){
        //       if($('#cart-drawer').hasClass('active')){
        //         closeCart();
        //       }else{
        //         console.log('cart')
        //         e.stopPropagation();
        //         openCart();
        //         scrollCart()
        //       }
        //     });

        //     $('#close_cart').on('click', function(){
        //       closeCart();
        //       console.log('closing')
        //     });

        //     $('#content-slide').on('click', function(){
        //       if($('#cart-drawer').hasClass('js-drawer-open-right')){
        //         closeCart();
        //       } 
        //     });

        //     $('#AddToCart').on('click', function(e){
        //       console.log('click add to cart')
        //       e.stopPropagation();
        //       openCart();
        //       scrollCart();
        //     })
            //update cart without page refresh 

        $('#cart_open').on('click', function(){
          $('#cart-drawer').addClass('active').removeClass('closed')
          // $('.content-container').css({'position': 'absolute', 'right': '338px'})
        });
        $('#close_cart').on('click', function(){
          $('#cart-drawer').addClass('closed').removeClass('active')
          $('#cart_open').removeClass('active').addClass('closed')
          // $('.content-container').css({'position': 'static', 'right': '0'})
        })
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#cart-container',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#cart_count',
          moneyFormat: {{ shop.money_format | json }}
        });
     });
     


   </script>
</body>
</html>
